.library-table-name span,
.page-center,
.page-flex,
.sidebar-user-img picture,
.users-table picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-wrapper {
    position: relative;
    width: 100%;
}

.main-nav--bg {
    -webkit-transition: all .3s;
    -moz-transition: width 0.35s ease;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: #fff;
}
